{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">Histórico dos Alunos</div>
        <div class="panel-body">
            <div class="row-fluid table-responsive">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" value="{{ q }}"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-info"><span class="glyphicon glyphicon-search"></span> <span class="hidden-xs hidden-sm">Buscar</span></button>
                        </span>
                    </div>
                </form>
                <br/>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Disciplina</th>
                            <th class="text-center">Faltas</th>
                            <th class="text-center">Abonos</th>
                            <th class="text-center">Nota</th>
                            <th class="text-center">Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historico in historicos %}
                            <tr>
                                <td>{{ historico.aluno.nome }}</td>
                                <td>{{ historico.disciplina.nome }}</td>
                                <td class="text-center">{{ historico.faltas }}</td>
                                <td class="text-center">{{ historico.abonos }}</td>
                                <td class="text-center">{{ historico.nota|default_if_none:"-----" }}</td>
                                <td class="text-center">{{ historico.get_situacao }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhum histórico encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
